<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChYkHuPx0-_NPnyaVgvQTcMq8XZTMSzHk</string>
	<key>GCM_SENDER_ID</key>
	<string>930030992658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vistarak.apps</string>
	<key>PROJECT_ID</key>
	<string>vistarak-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>vistarak-apps.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930030992658:ios:8aa4338de40e3500f407cb</string>
</dict>
</plist>